<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
    <title>Client</title>
    {% macro render_table(table_name, relation, id) %}
      <div class="tbl_container">
        <p>
          <b>{{table_name}} </b>
        {% set n = len(relation) %}
        </p>
        <table>
          <tr>
            {% for name in relation.dtypes.index %}
            <th>{{name}}</th>
            {% endfor %}
          </tr>

          <tbody>
            {% for i in range(n) %}
            <tr>
              {% for name in relation.dtypes.index %}
                  <td> {{ relation.loc[i, name] }} </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endmacro %}
</head>

<body>
 <div class="menu">
 <ul>
     <li><a href="/templates/record.html">Record</a></li>
     <li><a href="/templates/index.html">Coach</a></li>
     <li class ="active"><a href="/templates/client.html" method="get">Client</a></li>

 </ul>
 </div>
<div class="block">
    <p>
 <form action='' method ="get" name="">
    Date: <input type="date" placeholder="Date of recording" name="date_record">
    <input type="submit" value="Search">
 </form>
    </p>
{{render_table("Entries for this date", date_record) }}
 </div>
</body>
</html>