<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
    <title>Record</title>
    {% macro render_form(combo_box) %}
    <p>
        <form>
         <p> <select name="coach">
          {% set n = len(combo_box) %}
            <option value=0>All coaches
          {% for i in range(n) %}
            {% set id_m = combo_box.loc[i, "coach_id"] %}

            {% if id_m == coach_id %}
              <option selected value={{id_m}}>
            {% else %}
              <option value={{id_m}}>
            {% endif %}
              {{ combo_box.loc[i, "coach_full_name"] }}
              </option>
          {% endfor %}
          </select></p><br>
            Date <input type="date" name="date_start"> befor
            <input type="date" name="date_end">
                <input type="submit" value="Show">
        </form>
      </p>
    {% endmacro %}

    {% macro render_table(table_name, relation, combo_box) %}
      <div class="tbl_container">
        <p>
          <b>{{table_name}} </b>
        </p>
          <form>
                {% set n = len(relation) %}
                {% for i in range(n) %}
                        {% set id = str(relation.loc[i,"coach_id"]) %}
                      <input type="radio" value={{relation.loc[i,"record_date"]+relation.loc[i,"record_time"]+id}} name="data">{{ relation.loc[i, "record_date"] }} {{ relation.loc[i, "record_time"] }} {{ relation.loc[i, "coach_full_name"] }}<br>
                {% endfor %}
            <p> Client: <select name="client">
                      {% set n = len(combo_box) %}
                      {% for i in range(n) %}
                        {% set id_m = combo_box.loc[i, "client_id"] %}

                        {% if id_m == client_id %}
                          <option selected value={{id_m}}>
                        {% else %}
                          <option value={{id_m}}>
                        {% endif %}
                          {{ combo_box.loc[i, "client_full_name"] }} ( {{ combo_box.loc[i, "phone_number"] }} )
                          </option>
                      {% endfor %}
                      </select></p>
              <p> Service: <select name="service">
                      {% set n = len(combo_box) %}
                      {% for i in range(n) %}
                        {% set id_m = combo_box.loc[i, "service_id"] %}

                        {% if id_m == service_id %}
                          <option selected value={{id_m}}>
                        {% else %}
                          <option value={{id_m}}>
                        {% endif %}
                          {{ combo_box.loc[i, "service_name"] }} ( {{ combo_box.loc[i, "price"] }} )
                          </option>
                      {% endfor %}
                      </select></p>
              <input type="submit" value="Record" class="back">
          </form>
      </div>
    {% endmacro %}
</head>
<body>
 <div class="menu">
 <ul>
     <li class="active"><a href="/templates/record.html" method="get">Record</a></li>
     <li><a href="/templates/index.html">Coach</a></li>
     <li><a href="/templates/client.html">Client</a></li>
 </ul>
 </div>

<div class="block">

    <p><b>Record a client</b></p>
    {{render_form(combo_box)}}
    {{render_table("Free time", relation_free, combo_box1)}}

    <a href="/templates/add_client.html" class="back">Add client</a>
    <a href="/templates/add_service.html" class="back">Add a service</a>
    <a href="/templates/cancel_record.html" class="back">Cancel the record</a>

</div>
</body>
</html>